<%= form_with(model: booking, local: true, method: :get) do |form| %>
  <% if booking.errors.any? %>
    <div id="error_explanation">
      <% booking.errors.full_messages.each do |message| %>
        <div class="alert alert-danger"><%= message %></div>
      <% end %>
    </div>
  <% end %>

  <div class='forms'>
    <div class="field">
      <%= form.label :date %>
      <%= form.date_field :date, {:class => 'form-control'} %>
    </div>
    <br>
    <div class="field">
      <%= form.label :start_time %>
      <%= form.time_select :start_time ,start_hour: 9, end_hour: 18, :minute_step => 30, :ampm => false, :class => 'form-control' %>
    </div>

    <div class="field">
      <%= form.label :end_time %>&nbsp
      <%= form.time_select :end_time ,start_hour: 9, end_hour: 18, :minute_step => 30, :ampm => false, :class => 'form-control' %>
    </div>
    <br>
    <div class="actions field">
      <%= form.submit "Submit", method: :search , :class => 'btn btn-lg btn-primary btn-block btn-signin' %>
    </div>
  </div>
<% end %>
