<p id="notice"><%= notice %></p>

<%= puts params[:date] %>

<div class='container' id='booking_date_select'>
  <div class ='row'>
    <div class='col-3'>
      <%= form_with(local: true, method: :get) do |form| %>
      <div class='forms'>
      <div class="field">
        <h4> <%= form.label @date %> </h4>
        <%= form.date_field :date, {:class => 'form-control date'} %>
        <br>
        <div class="actions field">
          <%= form.submit "Select", method: :reload , :class => 'btn btn-lg btn-primary btn-signin date' %>
        </div>
        <% end %>
      </div>
      </div>
    </div>
    <div class='col-9'>
      <h1 class="text-center">Room Allocation System</h1>
    </div>
  </div>
</div>


<br>
<br>
<div class="col-md-12 table-responsive">
  <table class="table">
    <thead>
      <th></th>
      <% @Rooms.each do |room| %>
        <th><%= room.name %></th>
      <% end %>
    </thead>
  <tbody>
    <% @times.each_with_index do |time,i| %>
    <tr>
      <td><%= time %></td>
      <% @Rooms.each do |room| %>
        <% if room.isFree @date, time, @times[i+1]  %>
          <% if current_user.present? %>
            <td onclick="location.href='/bookings/new';"></td>
          <% else %>
            <td></td>
          <% end %>
        <% else %>
          <% b_id = room.findBooking(@date, time, @times[i+1]) %>
          <% this_booking = room.bookings.all.find(b_id) %>
          <td class="bg-warning" onclick="location.href='/bookings/<%= this_booking.id %>';">
            <% text = this_booking.description %>
            <% if text.length <= 15 %>
              <%= text %>
            <% else %>
              <%= "#{text[0...12]}..." %>
            <% end %>
          </td>
        <% end %>
      <% end %>
    </tr>
    <% end %>
  </table>
</div>

<br>
