<p id="notice"><%= notice %></p>

<h1 class="text-center">Room Allocation System</h1>
<br>
<br>
<div class="col-md-12 table-responsive">
  <table class="table">
    <thead>
      <th></th>
      <% @Rooms.each do |room| %>
        <th><%= room.name %></th>
      <% end %>
    </thead>
  <tbody>
    <% @times.each_with_index do |time,i| %>
    <tr>
      <td><%= time %></td>
      <% @Rooms.each do |room| %>
        <% if room.isFree '2018-10-01', time, @times[i+1]  %>
          <% if current_user.present? %>
            <td onclick="location.href='/bookings/new';"></td>
          <% else %>
            <td></td>
          <% end %>
        <% else %>
          <% b_id = room.findBooking('2018-10-01', time, @times[i+1]) %>
          <% this_booking = room.bookings.all.find(b_id) %>
          <td class="bg-warning" onclick="location.href='/bookings/<%= this_booking.id %>';">
            <% text = this_booking.description %>
            <% if text.length <= 15 %>
              <%= text %>
            <% else %>
              <%= "#{text[0...12]}..." %>
            <% end %>
          </td>
        <% end %>
      <% end %>
    </tr>
    <% end %>
  </table>
</div>

<br>
