
<h1>Requests</h1>

<table>
  <thead>
    <tr>
      <th colspan="2">Description</th>
      <th colspan="2">Date</th>
      <th colspan="2">From</th>
      <th colspan="2">To</th>
      <th colspan="2">category</th>
      <th colspan="2">Pending</th>
    </tr>
  </thead>

  <tbody>
    <% @requests.each do |request| %>
      <tr>
        <td colspan="2"> <%= request.description %> </td>
        <td colspan="2"> <%= request.date %> </td>
        <td colspan="2"> <%= request.start %> </td>
        <td colspan="2"> <%= request.end %> </td>
        <td colspan="2"> <%= request.category %> </td>
        <td colspan="2"> <%= request.pending %> </td>

<td> <% if current_user.present? %><%= link_to 'Destroy', @booking, method: :delete, data: { confirm: 'Are you sure?' } %> <% end %> </td>
      </tr>
    <% end %>
  </tbody>
</table>
