<h1>New Booking</h1>

<div class="searchBox">
  <h2>Your input</h2>

  <table>
    <tr>
      <td>Date:</td> <td><%= @date %></td>
    </tr>
    <tr>
      <td>Start Time:</td> <td><%= @start_time[0...2] %>:<%= @start_time[2...4] %></td>
    </tr>
    <tr>
      <td>End Time:</td> <td><%= @end_time[0...2] %>:<%= @end_time[2...4] %></td>
    </tr>
  </table>

  <h2>Available Rooms</h2>

  <%= form_with(model: @booking, local: true, method: :create) do |form| %>
    <% if @booking.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

        <ul>
        <% @booking.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <!-- <%= form.label :available_rooms %> -->
      <%= form.collection_select :room_id, @available_rooms, :id, :name %>
    </div>

    <div class="field">
        <%= form.label :description %>
        <%= form.text_field :description %>
    </div>

    <%= form.hidden_field :date, :value => @date %>
    <%= form.hidden_field :start, :value => Time.at(@start_time[0...2].to_i*3600 + @start_time[2...4].to_i*60) %>
    <%= form.hidden_field :end, :value => Time.at(@end_time[0...2].to_i*3600 + @end_time[2...4].to_i*60) %>

    <div class="actions">
      <%= form.submit "Create Booking"%>
    </div>
  <% end %>

</div>
