<h1>New Booking</h1>

<div class="searchBox">
  <h2>Your input</h2>
  <ul>
    <li>Date: <%= @date %></li>
    <li>Start Time: <%= @start_time %></li>
    <li>End Time: <%= @end_time %></li>
  </ul>

  <h2>Available Rooms</h2>

  <%= form_with(model: @booking, local: true, method: :create) do |form| %>
    <% if @booking.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

        <ul>
        <% @booking.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <!-- <%= form.label :available_rooms %> -->
      <%= form.collection_select :room_id, @available_rooms, :id, :name %>
    </div>

    <div class="actions">
      <%= form.submit "Create Booking"%>
    </div>
  <% end %>

</div>
